 .container {
    padding: 25px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
  }

  .container2 {
    padding: 25px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
  }

  .container3 {
    padding: 25px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
  }

  .container4 {
    padding: 25px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
  }

  .container5 {
    padding: 25px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
  }
  
  .item {
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    will-change: transform, opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 4%;
  }

  @media only screen and (max-width: 768px) {
    .container {
        bottom: 0;
        left: unset;
        position: unset;
    }

    .container2 {
        bottom: 0;
        left: unset;
        position: unset;
    }

    .container3 {
        bottom: 0;
        left: unset;
        position: unset;
    }

    .container4 {
        bottom: 0;
        right: unset;
        position: unset;
    }

    .container5 {
        bottom: 0;
        right: unset;
        position: unset;
    }
  }